{% extends 'templates/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
  <section>
    <h2>About Me</h2>
    <p>My name is Alec Stewart, and I like to make things, I often break things, and sometimes I take things too seriously. I am fascinated by the capabilities of technology and what we can do with them, but I can't dismiss their darker consequences.</p>
    <p class="center"><img src="images/headshot.jpeg" class="headshot" alt="A headshot photo"></p>
    <p>When I'm not sitting behind a screen, I like to read and write for pleasure and to learn. I also spend far too much time thinking about how to be a better human and what makes life meaningful.</p>
    <p>This website is a culmination of my interests, but mostly it's my central hub for the interesting tidbits I feel are worth sharing with the world.</p>
  </section>

  <section>
    <h2>Projects</h2>
    <p>I like to keep busy with anything that piques my interest. Below are a few things that have captured my attention enough times for me to not ignore.</p>
    <ul>
      <li><a href="essays.html">Writing</a> &mdash; Public notes, thoughts, learnings, and comments</li>
      <li><a href="https://github.com/alecjstewart">Code</a> &mdash; Open-source projects on Github</li>
      <li><a href="https://thynker.net">Thynker Newsletter</a> &mdash; Semimonthly musings on great thinkers and questions</li>
    </ul>
  </section>

  <section>
    <h2>Get in touch</h2>
    <p>Don't be shy! Feel free to reach out to ask me something, provide feedback, or just chat.</p>
    <ul>
      <li>Email: <strong>alec [at] alecjstewart.com</strong></li>
      <li>Github: <a href="https://github.com/alecjstewart">@alecjstewart</a></li>
      <li>Twitter: <a href="https://twitter.com/alecjstewart">@alecjstewart</a> &mdash; I'm no longer active on Twitter, but an archive of my tweets can be found <a href="tweets.html">here</a></li>
    </ul>
  </section>
{% endblock %}