{% extends 'templates/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <section>
        <p>Hi, my name is Alec. I'm a technology enthusiast who also likes to take a step back from the screen to consider how to be a better human and what makes life meaningful.</p>
        <p>This website is my public learning space and central hub for everything I find interesting. It's minimal on purpose&mdash;I want it simple and to focus only on what's necessary.</p>
        <p>If you want to stick around, you can read more <a href="about.html">about me</a> or <a href="notes.html">the notes I felt were worth sharing.</a></p>
    </section>

    <section>
        <h2>Recent Notes <small><a href="notes.html">view all</a></small></h2>
        <ul>
        {%- for note in notes %}
            <li><a href="{{ note.slug[0] }}.html">{{ note.title[0] }}</a></li>
        {%- endfor %}
        </ul>
    </section>

    <section>
        <h2>Search</h2>
        <form action="https://duckduckgo.com/" method="get">
            <label for="q">Search alecjstewart.com for anything:</label>
            <input type="text" name="q" value="">
            <input type="hidden" name="sites" value="alecjstewart.com">
            <input type="submit" value="Search">
        </form>
    </section>
{% endblock %}