/* Site Content */
body {
    font-family: Open Sans,Arial;
    color: #454545;
    font-size: 1.125rem;
    margin: 2em auto;
    max-width: 800px;
    padding: 1em;
    line-height: 1.4;
    text-align: justify;
}
body.dark-mode {
    background-color: #121212;
    color: #eee;
}
body.dark-mode a,
body.dark-mode button[class^='btn-'] {
    color: #ffab91;
}
body.dark-mode header h1 a {
    color: #eee;
}

/* Defaults */
a {
    color: #cc5500;
}
nav {
    margin-bottom: 2rem;
}
blockquote {
    font-style: italic;
    border-left: 5px solid #cc5500;
    padding: 0 1rem;
}
blockquote:before {
    color: #cc5500;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
    margin: 0;
}
small {
    margin-left: 1.5em;
    font-size: 16px;
    font-weight: normal;
}

/* Header and Navigation */
header h1 {
    margin: 0 0 0.5rem 0;
}
header h1 a {
    color: #454545;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin-left: 1rem;
}
nav li:first-child {
    margin: 0;
}

/* Notes */
article h2 {
    margin-bottom: 0.5rem;
}
time {
    color: #b8b8b8;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 2rem;
}
td time {
    padding-right: 1rem;
}

/* Books */
.btn-author,
.btn-title,
.btn-rating {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 16px;
    color: #cc5500;
}

.book-title {
    font-style: italic;
}
.book-rating {
    font-weight: bold;
}

/* Footer */
footer {
    margin-top: 2rem;
    color: #b8b8b8;
}

/* Dark Mode */
.btn-toggle {
    color: #121212;
    background-color: #eee;
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border-radius: 2px;
    font-size: .8em;
    border: 0;
    padding: 2px 5px;
}

/* Misc */
.center {
    text-align: center;
}
.headshot {
    max-height: 300px;
    max-width: 75%;
    border-radius: 50%;
}
.tweets li ul li {
    list-style-type: none;
}
.tweets li:not(:first-child) {
    margin-top: 1.5rem;
}
.tweets li ul {
    padding-left: 20px;
}

/* Media Queries */
@media screen and (max-width:500px) {
    body {
        text-align: left;
    }
    .btn-toggle {
        position: absolute;
    }
}