{% extends 'base.html' %}
{% block title %}Books{% endblock %}
{% block content %}
    <section>
        <h2>Books</h2>

        <h3>Currently Reading</h3>
        <ul>
        {%- for book in books_reading %}
            <li><em>{{ book.title }}</em> by {{ book.author_firstname }} {{ book.author_lastname }}</li>
        {%- endfor %}
        </ul>

        <h3>Read</h3>
        <p>Sort by <button class="btn-author" onclick="sortList('author')">author</button>, <button class="btn-rating" onclick="sortList('rating')">rating</button>, or <button class="btn-title" onclick="sortList('title')">title</button>.</p>
        <ul id="books">
        {%- for book in books_read %}
            {%- if book.review_link == '' %}
            <li title="Date Read: {{ book.date_read }}"><span class="book-title">{{ book.title }}</span> by {{ book.author_firstname }} <span class="book-author">{{ book.author_lastname }}</span> <strong>(<span class="book-rating">{{ book.rating }}</span>/10)</strong></li>
            {%- else %}
            <li title="Date Read: {{ book.date_read }}"><span class="book-title">{{ book.title }}</span> by {{ book.author_firstname }} <span class="book-author">{{ book.author_lastname }}</span> <strong>(<span class="book-rating">{{ book.rating }}</span>/10)</strong> &mdash; <a href="{{ book.review_link }}">review</a></li>
            {%- endif %}
        {%- endfor %}
        </ul>
        <script>
            // Adapted from https://www.w3schools.com/howto/howto_js_sort_list.asp
            function sortList(sortOn) {
                var list, i, switching, b, shouldSwitch, x, y, dir, switchcount = 0;
                list = document.getElementById("books");
                switching = true;
                dir = "asc";

                while (switching) {
                    switching = false;
                    b = list.getElementsByTagName("LI");

                    for (i = 0; i < (b.length - 1); i++) {
                        shouldSwitch = false;

                        if (sortOn == 'rating') {
                            x = Number(b[i].getElementsByClassName('book-' + sortOn)[0].innerHTML);
                            y = Number(b[i + 1].getElementsByClassName('book-' + sortOn)[0].innerHTML);
                        } else {
                            x = b[i].getElementsByClassName('book-' + sortOn)[0].innerHTML.toLowerCase();
                            y = b[i + 1].getElementsByClassName('book-' + sortOn)[0].innerHTML.toLowerCase();
                        }

                        if (dir == 'asc') {
                            if (x > y) {
                                shouldSwitch = true;
                                break;
                            }
                        } else if (dir == 'desc') {
                            if (x < y) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                    }
                    if (shouldSwitch) {
                        b[i].parentNode.insertBefore(b[i + 1], b[i]);
                        switching = true;
                        switchcount++;
                    } else {
                        if (switchcount == 0 && dir == "asc") {
                            dir = "desc";
                            switching = true;
                        }
                    }
                }
            }
        </script>
    </section>
{% endblock %}