{% extends 'templates/base.html' %}
{% block title %}{{ essay.title[0] }}{% endblock %}
{% block content %}
    <article>
        <h2>{{ essay.title[0] }}</h2>
        {%- if 'updated_date' in essay %}
        <time datetime="{{ essay.updated_date[0] }}">Posted on {{ essay.posted_date_str[0] }} at {{ essay.posted_date_time[0] }} UTC &bull; <strong>Updated on {{ essay.updated_date_str[0] }} at {{ essay.updated_date_time[0] }} UTC</strong></time>
        {%- else %}
        <time datetime="{{ essay.posted_date[0] }}">Posted on {{ essay.posted_date_str[0] }} at {{ essay.posted_date_time[0] }} UTC</time>
        {%- endif %}

        {{ essay.content[0] | indent(width=4) }}
    </article>

    <section>
        <p class="center"><i>Questions, comments, or concerns on this essay? Send me an email: <strong>alec [at] alecjstewart.com</strong></i></p>
    </section>
{% endblock %}