{% extends 'base.html' %}
{% block title %}{{ note.title[0] }}{% endblock %}
{% block content %}
    <article>
        <h2>{{ note.title[0] }}</h2>
        {%- if 'updated_date' in note %}
        <time datetime="{{ note.updated_date[0] }}">Posted on {{ note.posted_date_str[0] }} &bull; <strong>Updated on {{ note.updated_date_str[0] }}</strong></time>
        {%- else %}
        <time datetime="{{ note.posted_date[0] }}">Posted on {{ note.posted_date_str[0] }}</time>
        {%- endif %}

        {{ note.content[0] | indent(width=8) }}
    </article>

    <section>
        <p class="center"><i>Questions, comments, or concerns on this note? Send me an email: <strong>alec [at] alecjstewart.com</strong></i></p>
    </section>
{% endblock %}